name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: jurplel/install-qt-action@v3
        with:
          version: '6.2.3'
      - run: find ../
