name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: jurplel/install-qt-action@v3
        with:
          version: '6.2.3'
          modules: 'qtmultimedia'
      - run: find ../
      - name: checkout the code from 'https://code.qt.io/cgit/qt/qtmultimedia.git/tree/examples/multimedia/audiodevices/?h=6.2.3'
        run: |
          wget \
            --mirror \
            --no-parent \
            --content-disposition \
            'https://code.qt.io/cgit/qt/qtmultimedia.git/plain/examples/multimedia/audiodevices/?h=6.2.3'
      - name: deps
        run: apt install -y libgstreamer-plugins-base1.0-0
      - name: build
        run: |
          set -e
          mkdir build/
          pushd build/
          cmake ../code.qt.io/cgit/qt/qtmultimedia.git/plain/examples/multimedia/audiodevices
          make
